@utility bg-dots-* {
  --dots-color: var(--color-white);
  --dots-interval: 24px;
  background-color: --value(--color-*);
  background-image: radial-gradient(var(--dots-color) 1px, transparent 1px);
  background-size: var(--dots-interval) var(--dots-interval);
  background-attachment: fixed;
}

@utility bg-dots-color-* {
  --dots-color: --value(--color-*);
}
