@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import "./bg-dots.css";
@import "./fullbleed.css";

:root {
  @apply text-[12pt] print:font-sans print:text-[10pt];
  @apply prose-h2:text-3xl prose-h3:text-2xl;
  @apply print:prose-headings:my-2 print:prose-p:mb-1 print:prose-headings:font-sans;
  font-variant-ligatures: none;
}

@theme {
  --font-display: var(--font-gambarino), sans-serif;
  --font-sans: var(--font-supreme), sans-serif;
  --default-font-family: var(--font-supreme), sans-serif;
}

h1, h2, h3, h4 {
  @apply font-display print:font-sans;
}
